/*Flex box é a tecnologia usada para manter o rodapé no fundo*/

html{
    height: 100%;
}

body {
    height: 100%;
    margin: 0 25%;
    font-family: sans-serif;
    font-size: 1.5rem;
    color: #111111;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-family: serif;
    font-weight: normal;
    /*border-bottom: 1px solid;*/
}

h2 {
    color:#06aa14;
    font-weight: normal;
    margin-bottom: 2px;
}

a {
    color:#06aa14;
    text-decoration:none;
}

p.date {
    font-size: 0.8rem;
    font-style: italic;
    margin-top: 1px;
}

header{
    background-image: linear-gradient(to bottom,green,rgb(0, 255, 76)) ;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header h1{
    color: darkgreen;
}

main{
    padding: 2px 20px;
    border: 1px solid;
    flex: 1 0 auto
}

footer{
    background-image: linear-gradient(to bottom,green,rgb(0, 255, 76)) ;
    text-align: center;
    min-height: 30px;
    color: darkgreen;
    
    flex-shrink: 0;
}